*{
    margin:0%;
    padding:0%;
    font-family: sans-serif;
}
body{
    /* background-image: url("../Img&Ico/bg.svg"); */
    /* background-blend-mode:darken; */
    /* z-index: -1;
    color: white; */
}

